# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SHINIBOARD01_LEFT

config ZMK_KEYBOARD_NAME
    default "SHINIBOARD01"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SHINIBOARD01_LEFT || SHIELD_SHINIBOARD01_RIGHT

config ZMK_SPLIT
    default y

endif

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

endif # ZMK_DISPLAY