/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include <behaviors.dtsi>
 #include <dt-bindings/zmk/keys.h>
 #include <dt-bindings/zmk/bt.h>
 #include <dt-bindings/zmk/ext_power.h>
 #include <dt-bindings/zmk/outputs.h>
 #include <dt-bindings/zmk/mouse.h>
 #include <behaviors/mouse_keys.dtsi>
 
 #define DEFAULT 0
 #define FUNC    1
 
 / {
     keymap {
         compatible = "zmk,keymap";
 
         default_layer {
             bindings = <
       &kp ESC    &kp Q   &kp W    &kp E    &kp R     &kp T 
       &kp TAB    &kp A   &kp S    &kp D    &kp F     &kp G 
       &kp LSHFT  &kp Z   &kp X    &kp C    &kp V     &kp B 
       &mo LCTRL  &kp LWIN &kp LALT                         
             >;
         };

         func_layer {
             bindings = <
       &trans    &trans   &trans &trans   &trans   &trans
       &trans    &trans   &trans &trans   &trans   &trans
       &trans    &trans   &trans &trans   &trans   &trans
       &trans    &trans   &trans 
             >;
         };
     };
 };